page {
	background-color: #25575E;
	color: #FA0;
	font-size: 17;
}

action-bar {
	color: #FA0;
}
action-bar, .main-color {
	background-color: #25575E;
}


text-field {
	margin: 10;
	padding: 10;
	color: #FA0;
}

image {
	margin-top: 20;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 80;
}

.title {
	background-color: #000;
}


button {
	margin: 10;
	padding: 10;
	width: 100;
	color: #FA0;
    font-size: 16;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}
