@import { url('~/styles/platform.css') };

page {
	background-color: #25575E;
	color: #FA0;
	font-size: 17;
}

button {
	margin: 20;
	padding: 10;
	width: 200;
	color: #FA0;
    font-size: 14;
    font-weight: bold;
    horizontal-align: center;
}

action-bar {
	color: #FA0;
}

action-bar, .main-color {
	background-color: #25575E;
}


text-field {
	margin: 10;
	padding: 10;
	color: #FA0;
}

image {
	margin-top: 20;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 80;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

.drawerContent {
	color: #034793;
	background-color: #fff;
	/*border-width: 1;*/
	/*border-color: #000;*/
	border-left-width: 0;
	opacity: 0.8;
}

.drawerMenuContent Label {
	margin-top: 16;
	border-color: #333;
	border-width: 1;
	text-align: center;
}