@import { url('~/styles/platform.css') };

page {
	background-color: #25575E;
	color: #FA0;
	font-size: 17;
}

label {
	margin: 10 5;
	vertical-align: center;
}

button {
	margin: 20;
	padding: 10;
	width: 200;
	color: #FA0;
    font-size: 14;
    font-weight: bold;
    horizontal-align: center;
}

action-bar {
	color: #FA0;
}

action-bar, .main-color {
	background-color: #25575E;
}


text-field, text-view {
	margin: 10;
	padding: 10;
	color: #FA0;
	background-color: white;
}

image {
	margin-top: 20;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 80;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

.drawerContent {
	color: #fff;
	background-color: #222;
	/*border-width: 1;*/
	/*border-color: #000;*/
	border-left-width: 0;
	opacity: 0.9;
}

.drawerMenuContent Label {
	margin-top: 16;
	/*border-color: #333;*/
	/*border-width: 1;*/
	text-align: left;
}

.menu {
	background-color: #2691bd;
}

#close-button {
	background-image: url('res://x_mark');
	background-repeat: no-repeat;
	background-size: contain;
}

.titleLabel{
	font-size: 18;
	text-align: right;
	font-weight: bold;
}

.title{
	font-size: 18;
	font-weight: bold;
}

.contentLabel{
	font-size: 16;
	font-weight: bold;
}

.content{
	font-size: 16
}

.btn {
	margin: 4;
	padding: 4;
}

.btn-main {
	color: #034793;
	background-color: #25ff00;
}

.form-label {
	margin: 0;
	padding: 0;
	color: #fff;
}